---
import "../../styles/article.css";
import "../../styles/article-list.css";

import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import Card from "../../components/Card.astro";
import Icon from "../../components/Icon.astro";
import ImageGlow from "../../components/ImageGlow.astro";
import Layout from "../../layouts/Layout.astro";

interface Props {
	hack: CollectionEntry<"moneyHacks">;
}

const { hack } = Astro.props;

export const getStaticPaths = (async () => {
	const moneyHacks = await getCollection("moneyHacks");

	return moneyHacks.map((hack) => ({
		params: { hack: hack.id },
		props: { hack },
	}));
}) satisfies GetStaticPaths;

const { Content } = await render(hack);
---

<Layout
	title={hack.data.title}
	description={hack.data.description}
	image={hack.data.image}
	article={{
		createdAt: hack.data.date,
	}}
>
	<div class="left" slot="left">
		<Card class="toc-card">
			<h2 class="no-mt">Info</h2>
			<ul class="overview-list">
				{
					hack.data.info.map((info) => {
						const Tag = info.link ? "a" : "div";
						return (
							<li>
								<Tag href={info.link} class="project-info-item">
									<Icon
										type={info.icon.type}
										name={info.icon.name as any}
										width={24}
										height={24}
										class="glow-icon"
									/>
									<span>{info.text}</span>
								</Tag>
							</li>
						);
					})
				}
			</ul>
			{hack.data.tags.length > 0 && (
				<>
					<hr />
					<h3>Topics</h3>
					<ul class="tags-list">
						{hack.data.tags.map((tag) => (
							<li>
								<a href={`/money-hacks?tag=${encodeURIComponent(tag)}`} class="blog-tag">
									{tag}
								</a>
							</li>
						))}
					</ul>
				</>
			)}
		</Card>
	</div>
	<article slot="right" data-pagefind-body>
		<Card>
			<div class="article-header" id="_top" data-pagefind-ignore>
				{
					hack.data.image && (
						<ImageGlow
							quality={100}
							class="article-image"
							src={hack.data.image}
							alt={hack.data.title}
						/>
					)
				}
				<div class="header">
					<div>
						<h1 class="no-mt article-h1">{hack.data.title}</h1>
					</div>
					<div class="article-info">
						<span>{hack.data.date.toLocaleDateString()}</span>
					</div>
				</div>
			</div>
			<Content />
			<hr class="end-of-article" />
			<a href="/money-hacks" class="block-link" data-pagefind-ignore>
				← Back to Money Hacks
			</a>
		</Card>
	</article>
</Layout>
<style>
	.project-info-item {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
</style>
